  /* =========================
     Header / Footer
     ========================= */
  
     header {
        background: var(--white);
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 300px;
      }
      
      .nav-header {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 60px;
      }
      
      .nav-header img {
        height: 35px;
      }
      
      .nav-header a {
        color: var(--grey);
        text-decoration: none;
        font-size: 18px;
        font-family: "Montserrat";
        font-weight: 500;
      }
      
      .nav-header a.router-link-active {
        color: var(--black);
        font-family: "Montserrat";
        font-weight: 700;
      }
      
      /* Hide header on small devices */

      @media (max-width: 768px) {
        header {
          display: none;
        }
      }
      
      footer {
        position: fixed;
        bottom: 0;
        background: var(--white);
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      
      .nav-footer {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding-inline: 80px;
      }
      
      .nav-footer a {
        color: var(--dark-grey);
        text-decoration: none;
      }
      
      .btn-home {
        content: url("./ic_mobile_navigarion_home@3x.png");
      }
      a.router-link-exact-active .btn-home {
        content: url("./ic_mobile_navigarion_home_active@3x.png");
      }
      .btn-about {
        content: url("./ic_mobile_navigarion_info@3x.png");
      }
      a.router-link-exact-active .btn-about {
        content: url("./ic_mobile_navigarion_info_active@3x.png");
      }
      
      .btn-home {
        float: left;
        height: 30px;
      }
      .btn-about {
        float: right;
        height: 30px;
      }
      
      /* Hide footer on large devices */

      @media (min-width: 769px) {
        footer {
          display: none;
        }
      }